html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

ul {
    list-style-type: none;
    padding: 0;
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}