body {
   background: #FFE8C6;
}
table {
   width: 15%;
   border-collapse: collapse;
   font-family: Arial, Verdana;
   font-size: 0.9em;
   color: #444;
   margin: 0px;
 }
 
 tr:nth-child(even) {
   background-color: #f0f0f0;
 }
 
 th, tfoot td {
   color: #000;
   background-color: #CCC;
   font-weight: bold;
 }
 
 td, th {
   padding: 5px 10px 5px 10px;
   border: solid 1px #EEE;
 }

 h1 {
   font-family: Arial, Verdana;
 }
 p {
   font-family: Arial, Verdana;
 }
 li {
   font-family: Arial, Verdana;
 }